<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
<label for="name">name</label>
<input type="text" name="name" placeholder="enter drone name">
<label for="propeller">Number of propellers</label>
<input type="number" name="propellers" id="propeller">
<label for="maxspeed">maxspeed</label>
<input type="number" name="maxSpeed" id="maxspeed">
<button type="submit">submit</button>
</form>