<h2>Update the drone</h2>
<form action="/drones/{{drone._id}}/edit" method="post">
     <label>Drone Name </label>
     <input type="text" name="name" value={{drone.name}}>
     <label>Number of propellers</label>
     <input type="number" name="propellers" value={{drone.propellers}}>
     <label>Maximum speed</label>
     <input type="number" name="maxSpeed" value={{drone.maxSpeed}}>
     <button type="submit">Save Changes</button>
</form>